{% include "header.html" %}

  <div class="jumbotron text-center">
    <div class="container">

          {% if msg_sent: %}
          <h1 class="display-4">Successfully sent your message</h1>
          {% else: %}
          <h1 class="display-4">Contact Me.</h1>
          {% endif %}
          <p class="lead">Have questions?</p>
    </div>
  </div>


<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p class="lead">
          Want to get in touch? Fill out the form below to send me a message and
          I will get back to you as soon as possible!
        </p>
        <div class="my-5">
          {% if user %}
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('routes.contact') }}"
            method="post"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="{{ user.name }}"
                value="{{ user.name }}"
                required
              />
              <label for="name"> Name </label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="{{ user.email }}"
                value="{{ user.email }}"
                required
              />
              <label for="email">Email</label>
            </div>

            {% else %}
            <form
            id="contactForm"
            name="sentMessage"
            action="Name"
            method="post"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Name..."
                required
              />
              <label for="name">Name</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Enter your email..."
                required
              />
              <label for="email">Email address</label>
            </div>
            {% endif %}

            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                required
                style="height: 12rem"
              ></textarea>
              <label for="message">Message</label>
            </div>
            <br />
            <button
              class="btn btn-primary text-uppercase"
              id="submitButton"
              type="submit"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
