{% include "header.html" %}

{% block content %}

        <main class="mb-4">
                <div class="container" id="faq">
                        <div class="row">
                                <h1>Frequently Asked Questions</h1>
                        </div>
                        <div class="row text-start">
                                <h2>What is this website about?</h2>
                                <p>This website is a task management platform designed to help you organize and track your daily tasks efficiently. Users can add, update, and view their tasks seamlessly.</p>
                        </div>

                        <div class="row text-start">
                                <h2>How do I create a new task?</h2>
                                <p>To create a new task, navigate to the "Add Task" section, fill in the required details such as title, description, deadline, and then click "Submit."</p>
                        </div>

                        <div class="row text-start">
                                <h2>How do I view my to-do list?</h2>
                                <p>You can view your to-do list by clicking on the "To-Do List" section. This will display all the tasks that are assigned to you and are currently incomplete.</p>
                        </div>

                        <div class="row text-start">
                                <h2>How can I edit a task?</h2>
                                <p>To edit  a task, go to the "To-Do List" section, find the task you want to modify, and click on the title of task.</p>
                        </div>

                        <div class="row text-start">
                                <h2>How do I mark a task as complete?</h2>
                                <p>In the "To-Do List" section, find the task you want to mark as complete and click on the "Complete" button. The task will be updated to show that it is finished.</p>
                        </div>

                        <div class="row text-start">
                                <h2>Why do I need to log in?</h2>
                                <p>Logging in ensures that your tasks are securely stored and only accessible to you. It also allows you to keep track of your progress and manage tasks effectively.</p>
                        </div>

                        <div class="row text-start">
                                <h2>What should I do if I encounter an error?</h2>
                                <p>If you encounter any issues or errors, please contact our support team via the contact form on the website. We will assist you as soon as possible.</p>
                        </div>
                </div>
        </main>

{% endblock %}

{% include "footer.html" %}